a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ececec;
    text-decoration: none;
}

.dark-mode {
    background-color: #1f1e1e;
    color: #fff;
}

.header {
    background-color: #1f1e1ed7 !important;
    color: #fff;
    z-index: 999;
}

.form-check-input {
    cursor: pointer;
}

.table {
    width: 400px;
    height: 400px;
}

img {
    width: 10em;

}