a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ececec;
    text-decoration: none;
}

.dark-mode {
    background-color: #1f1e1e;
    color: #fff;
}

.header {
    background-color: #1f1e1ed7;
    color: #fff;
}

.form-check-input{
    cursor: pointer;
}